In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
from google.colab import drive
drive.mount('/content/drive')
!cp /content/drive/My\ Drive/Colab\ Notebooks/learning.datascience/winequality-red.csv .

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
dframe_wine = pd.read_csv('winequality-red.csv', sep=';')

In [4]:
dframe_wine

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]

In [6]:
def ranker(df):
  df['alc_content_rank'] = np.arange(len(df)) + 1
  return df

In [8]:
dframe_wine.sort_values('alcohol', ascending=False, inplace=True)

In [11]:
dframe_wine = dframe_wine.groupby('quality').apply(ranker)

In [12]:
dframe_wine.head()

      fixed acidity  volatile acidity  ...  quality  alc_content_rank
652            15.9              0.36  ...        5                 1
588             5.0              0.42  ...        8                 1
142             5.2              0.34  ...        6                 1
144             5.2              0.34  ...        6                 2
1270            5.0              0.38  ...        6                 3

[5 rows x 13 columns]

In [13]:
num_of_qual = dframe_wine['quality'].value_counts()

In [14]:
num_of_qual

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [17]:
dframe_wine[dframe_wine.alc_content_rank==1].sort_values('quality')

     fixed acidity  volatile acidity  ...  quality  alc_content_rank
899            8.3              1.02  ...        3                 1
45             4.6              0.52  ...        4                 1
652           15.9              0.36  ...        5                 1
142            5.2              0.34  ...        6                 1
821            4.9              0.42  ...        7                 1
588            5.0              0.42  ...        8                 1

[6 rows x 13 columns]